
body{background-image:url(image/strath.jpg);



}

h1{ 
    color:;
    font-family:sans-serif;
    text-align: center;
    background-image:url(image/download2.png);
    margin:50px;
    padding:50px;

}

h1 a {

background-color:white;
font-size:50px ;



}

ul{
    padding:0px;
    margin:0;
    width:100%;
    display: block;
    background-image:url(image/big6.jpg);
    float: center;
    

}


li div{
    padding:20px;
    color: black;
    margin:0;
    font-size: 50px;
    display: block;

    text-decoration: none;
    text-align:center;


}

li a:hover{

     color:grey;

}


p{  
     
    text-align: center;
    
  

}

